<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>大侦探/幼女初长成</key>
	<array>
		<string>优雅</string>
		<string>成熟</string>
		<string>简约</string>
		<string>清纯</string>
		<string>保暖</string>
	</array>
	<key>圣诞聚会</key>
	<array>
		<string>简约</string>
		<string>保暖</string>
		<string>清纯</string>
		<string>可爱</string>
		<string>活泼</string>
	</array>
	<key>海边派对</key>
	<array>
		<string>性感</string>
		<string>可爱</string>
		<string>清凉</string>
		<string>活泼</string>
		<string>简约</string>
	</array>
	<key>冬天里的一把火</key>
	<array>
		<string>性感</string>
		<string>可爱</string>
		<string>保暖</string>
		<string>活泼</string>
		<string>简约</string>
	</array>
	<key>宫廷歌舞/金色大厅</key>
	<array>
		<string>优雅</string>
		<string>成熟</string>
		<string>华丽</string>
		<string>性感</string>
		<string>保暖</string>
	</array>
	<key>女王</key>
	<array>
		<string>优雅</string>
		<string>成熟</string>
		<string>华丽</string>
		<string>性感</string>
		<string>清凉</string>
	</array>
	<key>春游/运动/夏季游园/春天在哪里</key>
	<array>
		<string>清纯</string>
		<string>清凉</string>
		<string>活泼</string>
		<string>可爱</string>
		<string>简约</string>
	</array>
	<key>奇幻童话园</key>
	<array>
		<string>华丽</string>
		<string>可爱</string>
		<string>优雅</string>
		<string>清凉</string>
		<string>清纯</string>
	</array>
	<key>夏日物语</key>
	<array>
		<string>优雅</string>
		<string>清凉</string>
		<string>清纯</string>
		<string>简约</string>
		<string>可爱</string>
	</array>
	<key>办公室明星</key>
	<array>
		<string>简约</string>
		<string>成熟</string>
		<string>优雅</string>
		<string>清凉</string>
		<string>清纯</string>
	</array>
</dict>
</plist>
